Information and Rules

Casino HTW
Tim IND menerapkan sistem High To Win (HTW), yang dimana maksudnya dalah permainan kita hanya memiliki 1 life (nyawa) jadi kita tidak dapat request nyawa tambahan kepada hoster.

Double
Jika seseorang melakukan dua kali punch , maupun sengaja atau tidak sengaja, Angka yang didapat tidak valid, atau dapat dikatakan auto lose. 

2 Puncher 
Di dalam room, jika anda bermain dengan tim, hanya ada 1 orang puncher / pemutar wheel, Jika ada kesalahan punch yang disengaja maupun tidak, Angka yang didapat tidak valid, atau dapat dikatakan auto lose.

Cursed maupun Suspend
Jika host terkena cursed  dari mods, maka tidak bisa reffund. Ini adalah resiko tersendiri dari anda yang ingin bermain Casino. 

Clone 
Untuk pemain team IND, kami mohon agar berhati-hati dengan world Clone, Link asli hanya dapat dilihat pada Official Social Media Team IND
Berikut Link nya : https://linktr.ee/teamind_gt
Pastikan anda mengikuti semua sosial media team ind agar terhindar dari penjahat clone. Dan jangan pernah hiraukan MSG yang meminta anda untuk help tax, selalu ingat untuk mengecek link sebelum bermain. 

Typing 
Jika lawan terpantau mengetik / typing, maka dapat dikatakan auto lose. Karena merupakan sebuah kecurangan.

Record 
Selalu pastikan anda merekam segala kejadian dalam Team IND agar mempermudah proses jika anda terlibat dalam masalah. Segala laporan yang tidak disertakan dengan Rekaman, dapat dinyatakan tidak valid dan tidak akan kami proses.
NB : Kirim semua Keluhan maupun Laporan ke Akun Official Instagram Team IND dengan link https://instagram.com/teamind_gt
